.container{
    margin-bottom: 100px;
}
.buy-now-button{
    background-image: linear-gradient( to bottom, #fd448b 0%, #f20f66 100% );
    border-radius: 8px;
    padding: 9px 25px;
    color: white;
    border: none;
    cursor: pointer;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}
.cat1{
    background-image: linear-gradient(to bottom, rgba(248, 163, 5, 0.875), rgb(242, 180, 65));
    
}
.cat2{
    background-image: linear-gradient(to bottom, #f20f66, #ee3e81);
}
.cat3{
    background-image: linear-gradient(to bottom, blue, rgb(76, 76, 236));
}
.categorise h1{
    color: white;
}
.categorise img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 15px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}